<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head.ejs") %>
  
  <body>
    
    <%- include("../partials/header.ejs") %>

    <main class="main-carrito">
      <h2 class="titulo-carrito">CARRITO</h2>

      <div class="container-productos-detallecompra">
        <section class="container-productos-carrito">

          <% for (let i = 0; i< carrito.length; i++) {  %>
            <% let productoComprado = carrito[i].id_product %>
              
                <% if (producto[i].id_product = productoComprado) { %>

                  <article class="producto-carrito">
                    <img
                      class="img-producto"
                      src="/images/products/<% producto[i].image %>"
                      alt="image"
                    />
                    <div class="descripcion-producto-carrito">
                      <h4 class="articulo"><%= producto[i].short_description %></h4>
                      <p class="talle-carrito">Cantidad: <%= carrito[i].quantity %></p>
                      <p class="precio"><%= producto[i].price %></p>
                    </div>
                  </article>
                  
                 <div class="linea-separadora"></div>
               
              <% } %><% } %>         


        <section class="contenedor-detalle-compra">
          <p class="detalle">Detalle</p>
          <div class="linea-separadora-detalle"></div>
          <div class="subtotal">
            <p>Subtotal</p>
            <p>$ 15.899</p>
          </div>
          <div class="envio">
            <p>Envío</p>
            <p>$ 400</p>
          </div>

          <div class="boton-descuento">
            <input
              class="cupon-descuento"
              type="text"
              placeholder="INGRESA CUPÓN DE DESCUENTO"
              minlength="4"
              maxlength="8"
            />
          </div>

          <div class="linea-separadora-detalle"></div>
          <div class="total-compra">
            <p>TOTAL</p>
            <p class="precio-total">$ 16299</p>
          </div>
          <div class="linea-separadora-detalle"></div>
          <div class="boton-contenedor">
            <input
              class="finalizar-compra"
              type="button"
              value="FINALIZAR COMPRA"
            />
          </div>
        </section>
      </div>
      <div class="linea-separadora"></div>

      Ver Mas 
      <section>
        <p class="ver-mas-titulo">Podria interesarte</p>
        <div class="ver-mas-productos">
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/index/buzo-underarmour.jfif" alt="" />
              <p>Buzo Under Armour</p>
              <p>$6199</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/index/medias-nike.jfif" alt="" />
              <p>Medias Nike</p>
              <p>$1399</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/index/remera-nike.jfif" alt="" />
              <p>Remera Nike</p>
              <p>$3.999</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/index/pantalon-nike.jpeg" alt="" />
              <p>Pantalon Nike</p>
              <p>$7500</p>
            </a>
          </div>
        </div> 
      </section> 
    </main>


    <%- include("../partials/footer.ejs") %> 

  </body>
</html>
