<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main class="main-productDetail">
      <article class="container-productDetail">

        <img src="/images/products/<%= productDetail.imagen %>" alt="">
        <div class="container-caract-productDetail">
          <h3><%= productDetail.modelo + " " + productDetail.marca %></h3>
          <p class="precio-productDetail">$<%= productDetail.precio%></p>
          <p><%= productDetail.descripcion%></p>
          <p>Talles disponibles: <%= productDetail.talles%></p>
          <p>Colores disponibles: <%= productDetail.colores%></p>
        </div>
      </article>

    </main>


      <!-- Ver Mas 
      <div class="linea-separadora"></div>
      <section>
        <p class="ver-mas-titulo">Podria interesarte</p>
        <div class="ver-mas-productos">
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/camperaNike.jfif" />
              <p>Campera Nike</p>
              <p>$8199</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/medias-nike.jfif" alt="" />
              <p>Medias Nike</p>
              <p>$1399</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/remera-nike.jfif" alt="" />
              <p>Remera Nike</p>
              <p>$3.999</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/pantalon-nike.jpeg" alt="" />
              <p>Pantalon Nike</p>
              <p>$7500</p>
            </a>
          </div>
        </div>
      </section>
      -->

    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
