<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main class="main-productDetail">
      <article class="container-productDetail">
        <img src="/images/products/<%= productDetail.imagen %>" alt="" />
        <div class="container-caract-productDetail">
          <h3><%= productDetail.marca + " " + productDetail.modelo %></h3>
          <div>
            <p>Talles disponibles:</p>
            <p><%= productDetail.talles%></p>
          </div>
          <div>
            <p>Colores disponibles:</p>
            <p><%= productDetail.colores%></p>
          </div>
          <p class="precio-productDetail">$<%= productDetail.precio%></p>

          <div class="boton-contenedor">
            <input
              class="finalizar-compra"
              type="button"
              value="AGREGAR AL CARRITO"
            />
          </div>
        </div>
      </article>

      <article class="container-productDetail-bottom">
        <h4>• Descripción •</h4>
        <p><%= productDetail.descripcion%></p>
      </article>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
