<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Header-->
    <%- include("../partials/header.ejs") %>

    <main class="all-products-main">
      <section class="navbar-products">
        <div>
          <h2>PRODUCTOS</h2>
        </div>
        <div class="filter-products">
          <button type="button">
            <p>Filtrar</p>
            <i class="fas fa-sort-down"></i>
          </button>
        </div>
      </section>

      <section class="all-products-container">
        <% for (let i = 0; i< products.length; i++) { %>

        <article class="container-product">
          <a href="#">
            <img
              src="./images/products/<%= products[i].imagen %>"
              alt="imagen producto"
            />
            <div class="product-descpription">
              <h3><%= products[i].marca + " " + products[i].modelo %></h3>
              <p><%=products[i].descripcion %></p>
              <p>$<%=products[i].precio %></p>
            </div>
          </a>
        </article>
        <% } %>
      </section>
    </main>

    <!-- Footer-->
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
