<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Header-->
    <%- include("../partials/header.ejs") %>

    <main class="main-newProduct">
      <div class="container-newProduct">
        
        <h2 class="titulo-newProduct">CREAR PRODUCTO</h2>
        
        <form 
          action="/products/new" 
          method="POST" 
          enctype="multipart/form-data"
        >
          
          <div class="contenedor-campos-newProduct">
            <label for="imagenProducto">• Imagen/es</label>
            <input
              type="file"
              id="imagenProducto"
              name="imagenProducto"
              accept=".png, .jpg, .jpeg"
              multiple
            />
          </div>
   
          <div class="contenedor-campos-newProduct">
            <label for="marca">• Marca</label>
            <select name="marca" id="marca" >
              <option disabled selected>Seleccionar</option>
              <option value="Nike">Nike</option>
              <option value="Adidas">Adidas</option>
              <option value="Puma">Puma</option>
              <option value="New Balance">New Balance</option>
              <option value="Vans">Vans</option>
              <option value="Under Armour">Under Armour</option>
            </select>

            <% if (locals.errors && errors.marca) { %>
              <div class="text-danger"><%= errors.marca.msg %></div>
            <% } %>
          </div>
  
          <div class="contenedor-campos-newProduct">
            <label for="modelo">• Modelo</label>
            <input type="text" name="modelo" id="modelo"
            value="<%= locals.old && old.modelo ? old.modelo : ''%>"/>

            <% if (locals.errors && errors.modelo) { %>
              <div class="text-danger"><%= errors.modelo.msg %></div>
            <% } %>
          </div>

  
          <div class="contenedor-campos-newProduct">
            <label for="precio">• Precio</label>
            <input type="number" name="precio" min="0" id="precio" 
            value="<%= locals.old && old.precio ? old.precio : ''%>"placeholder="$$$$"/>
            
            <% if (locals.errors && errors.precio) { %>
              <div class="text-danger"><%= errors.precio.msg %></div>
            <% } %>
          </div>
  
          <div class="contenedor-campos-newProduct">
            <label for="categoria">• Categoria</label>
            <select name="categoria" id="categoria">
                <option disabled selected>Seleccionar</option>
                <option value="indumentaria">Indumentaria</option>
                <option value="calzado">Calzado</option>
                <option value="accesorios">Accesorios</option>
            </select>
            <% if (locals.errors && errors.categoria) { %>
              <div class="text-danger"><%= errors.categoria.msg %></div>
            <% } %>
          </div>
  
          <div class="contenedor-campos-newProduct">
            <label for="genero">• Género</label>
            <select name="genero" id="genero">
              <option disabled selected>Seleccionar</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
              <option value="unisex">Unisex</option>
            </select>

            <% if (locals.errors && errors.genero) { %>
              <div class="text-danger"><%= errors.genero.msg %></div>
            <% } %>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="shortDescription">• Descripción Breve</label>
            <textarea name="shortDescription" id="shortDescription" cols="1" rows="1" maxlength="60" placeholder="Descripción breve del producto" ></textarea>

            <% if (locals.errors && errors.shortDescription) { %>
              <div class="text-danger"><%= errors.shortDescription.msg %></div>
            <% } %>
          </div>
  
          <div class="contenedor-campos-newProduct">
            <label for="longDescription">• Descripción Completa</label>
            <textarea name="longDescription" id="longDescription" cols="10" rows="10" placeholder="Descripción del producto" ></textarea>

            <% if (locals.errors && errors.longDescription) { %>
              <div class="text-danger"><%= errors.longDescription.msg %></div>
            <% } %>
          </div>
  
          <div class="contenedor-campos-newProduct">
            <label for="talles">• Talles</label>
            <select name="talles" id="talles">
                <option disabled selected>Seleccionar</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="Unico">Unico</option>
            </select>

            <% if (locals.errors && errors.talles) { %>
              <div class="text-danger"><%= errors.talles.msg %></div>
            <% } %>
          </div>
  
          <div class="contenedor-campos-newProduct">
            <label for="colores">• Colores</label>
            <input type="text" name="colores" id="colores" />

            <% if (locals.errors && errors.colores) { %>
              <div class="text-danger"><%= errors.colores.msg %></div>
            <% } %>
          </div>
  
          <div class="contenedor-campos-newProduct">
            <button type="submit" class="boton-newProduct">CONTINUAR</button>
  
        </form>
      </div>
    </main>

    <!-- Footer-->
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
