<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Header-->
    <%- include("../partials/header.ejs") %>

    <main class="main-newProduct">
      <div class="container-newProduct">
        <h2 class="titulo-newProduct">CREAR PRODUCTO</h2>

        <form
          action="/admin/products/new"
          method="POST"
          enctype="multipart/form-data"
          id="formNewProduct"
        >
          <div class="contenedor-campos-newProduct">
            <label for="productImage">• Imagen/es</label>
            <input
              type="file"
              id="productImage"
              name="productImage"
              accept=".png, .jpg, .jpeg"
              multiple
            />
            <div class="text-danger" id="errorImagen"></div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="brand">• Marca</label>
            <select name="brand" id="brand">
              <option value="Seleccionar" disabled selected>Seleccionar</option>
              <option value="Nike">Nike</option>
              <option value="Adidas">Adidas</option>
              <option value="Puma">Puma</option>
              <option value="New Balance">New Balance</option>
              <option value="Vans">Vans</option>
              <option value="Under Armour">Under Armour</option>
            </select>

            <div class="text-danger" id="errorMarca">
              <% if (locals.errors && errors.brand) { %> <%= errors.brand.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="model">• Modelo</label>
            <input
              type="text"
              name="model"
              id="model"
              value="<%= locals.old && old.model ? old.model : ''%>"
              placeholder="Modelo"
            />

            <div class="text-danger" id="errorModelo">
              <% if (locals.errors && errors.model) { %> <%= errors.model.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="price">• Precio</label>
            <input
              type="number"
              name="price"
              min="0"
              id="price"
              value="<%= locals.old && old.price ? old.price : ''%>"
              placeholder="$$$$"
            />

            <div class="text-danger" id="errorPrecio">
              <% if (locals.errors && errors.price) { %> <%= errors.price.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="category">• Categoria</label>
            <select name="category" id="category">
              <option disabled selected>Seleccionar</option>
              <option value="indumentaria">Indumentaria</option>
              <option value="calzado">Calzado</option>
              <option value="accesorios">Accesorios</option>
            </select>

            <div class="text-danger" id="errorCategoria">
              <% if (locals.errors && errors.category) { %> <%=
              errors.category.msg %> <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="genre">• Género</label>
            <select name="genre" id="genre">
              <option disabled selected>Seleccionar</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
              <option value="unisex">Unisex</option>
            </select>

            <div class="text-danger" id="errorGenero">
              <% if (locals.errors && errors.genre) { %> <%= errors.genre.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="shortDescription">• Descripción Breve</label>
            <textarea
              name="shortDescription"
              id="shortDescription"
              cols="1"
              rows="1"
              maxlength="60"
              placeholder="Descripción breve que se mostrará en la previsualizacion del producto"
            ></textarea>

            <div class="text-danger" id="errorDescCort">
              <% if (locals.errors && errors.shortDescription) { %> <%=
              errors.shortDescription.msg %> <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="longDescription">• Descripción Completa</label>
            <textarea
              name="longDescription"
              id="longDescription"
              cols="10"
              rows="10"
              placeholder="Descripción completa que se mostrará en el detalle del producto"
            ></textarea>

            <div class="text-danger" id="errorDescLarg">
              <% if (locals.errors && errors.longDescription) { %> <%=
              errors.longDescription.msg %> <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="size">• Talle</label>
            <select name="size" id="size">
              <option disabled selected>Seleccionar</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="Unico">Unico</option>
            </select>

            <div class="text-danger" id="erroresTalle">
              <% if (locals.errors && errors.size) { %> <%= errors.size.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="color">• Color</label>
            <input type="text" name="color" id="color" placeholder="Color" />

            <div class="text-danger" id="erroresColor">
              <% if (locals.errors && errors.color) { %> <%= errors.color.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <button type="submit" class="boton-newProduct">CONTINUAR</button>
          </div>
        </form>
      </div>
    </main>

    <!-- Footer-->
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
