<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Header-->
    <%- include("../partials/header.ejs") %>

    <main class="main-newProduct">
      <div class="container-newProduct">
        <h2 class="titulo-newProduct">Editar <i><%= productToEdit.brand + " " + productToEdit.model  %></i> 
        </h2>
        <% if (locals.errors) { errors.forEach(error => { %>
        <p><%= error.msg %></p>
        <% }) }%>
        <form
          action="/admin/products/edit/<%= productToEdit.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="contenedor-campos-newProduct">
            <label for="productImage">• Imagen/es</label>
            <input
              type="file"
              id="productImage"
              name="productImage"
              accept=".png, .jpg, .jpeg"
              multiple
            />
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="brand">• Marca</label>
            <select name="brand" id="brand">
              
              <option value="Nike" <% if (productToEdit.brand == "Nike") { %> selected <%}%>> Nike </option>
              <option value="Adidas" <% if (productToEdit.brand == "Adidas") { %> selected <%}%>>Adidas</option>
              <option value="Puma" <% if (productToEdit.brand == "Puma") { %> selected <%}%>>Puma</option>
              <option value="New Balance" <% if (productToEdit.brand == "New Balance") { %> selected <%}%>>New Balance</option>
              <option value="Vans" <% if (productToEdit.brand == "Vans") { %> selected <%}%>>Vans</option>
              <option value="Under Armour" <% if (productToEdit.brand == "Under Armour") { %> selected <%}%>>Under Armour</option>
            </select>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="model">• Modelo</label>
            <input
              type="text"
              name="model"
              id="model"
              value="<%= productToEdit.model %>"
            />
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="price">• Precio</label>
            <input
              type="number"
              name="price"
              min="0"
              id="price"
              value="<%= productToEdit.price %>"
              placeholder="$$$$"
            />
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="category">• Categoria</label>
            <select name="category" id="category">
              <option value="indumentaria" <% if (productToEdit.category == "indumentaria") { %> selected <%}%>>Indumentaria</option>
              <option value="calzado" <% if (productToEdit.category == "calzado") { %> selected <%}%>>Calzado</option>
              <option value="accesorios" <% if (productToEdit.category == "accesorios") { %> selected <%}%>>Accesorios</option>
            </select>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="genre">• Género</label>
            <select name="genergenreoProducto" id="genre">
              <option value="masculino" <% if (productToEdit.genre == "masculino") { %> selected <%}%>>Masculino</option>
              <option value="femenino" <% if (productToEdit.genre == "femenino") { %> selected <%}%>>Femenino</option>
              <option value="unisex" <% if (productToEdit.genre == "unisex") { %> selected <%}%>>Unisex</option>
            </select>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="shortDescription">• Descripción Breve</label>
            <textarea
              name="shortDescription"
              id="shortDescription"
              cols="1"
              rows="2"
              maxlength="60"
            >
<%= productToEdit.shortDescription  %> 
            </textarea>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="longDescription">• Descripción Completa</label>
            <textarea
              name="longDescription"
              id="longDescription"
              cols="10"
              rows="10"
            >
<%= productToEdit.longDescription  %></textarea
            >
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="size">• Talles</label>
            <select name="size" id="size">
              <option value="S" <% if (productToEdit.size == "S") { %> selected <%}%>> S </option>
              <option value="M" <% if (productToEdit.size == "M") { %> selected <%}%>> M </option>
              <option value="L" <% if (productToEdit.size == "L") { %> selected <%}%>> L </option>
              <option value="Unico" <% if (productToEdit.size == "Unico") { %> selected <%}%>> Unico </option>
            </select>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="color">• Colores</label>
            <input
              type="text"
              name="color"
              id="color"
              value="<%= productToEdit.color %>"
            />
          </div>

          <div class="contenedor-campos-newProduct">
            <button type="submit" class="boton-newProduct">ACTUALIZAR</button>
          </div>
          <!--    METODO DELETE   -->
        </form>
      </div>
    </main>

    <!-- Footer-->
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
