<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Header-->
    <%- include("../partials/header.ejs") %>

    <main class="main-newProduct">
      <div class="container-newProduct">
        <h2 class="titulo-newProduct">Editar <i><%= productToEdit.brand + " " + productToEdit.model  %></i> 
        </h2>
        <% if (locals.errors) { errors.forEach(error => { %>
        <p><%= error.msg %></p>
        <% }) }%>
        <form
          action="/admin/products/edit/?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="contenedor-campos-newProduct">
            <label for="imagenProducto">• Imagen/es</label>
            <input
              type="file"
              id="imagenProducto"
              name="imagenProducto"
              accept=".png, .jpg, .jpeg"
              multiple
            />
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="marcaProducto">• Marca</label>
            <select name="marcaProducto" id="marcaProducto">
              
              <option value="Nike" <% if (productToEdit.brand == "Nike") { %> selected <%}%>> Nike </option>
              <option value="Adidas" <% if (productToEdit.brand == "Adidas") { %> selected <%}%>>Adidas</option>
              <option value="Puma" <% if (productToEdit.brand == "Puma") { %> selected <%}%>>Puma</option>
              <option value="New Balance" <% if (productToEdit.brand == "New Balance") { %> selected <%}%>>New Balance</option>
              <option value="Vans" <% if (productToEdit.brand == "Vans") { %> selected <%}%>>Vans</option>
              <option value="Under Armour" <% if (productToEdit.brand == "Under Armour") { %> selected <%}%>>Under Armour</option>
            </select>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="modeloProducto">• Modelo</label>
            <input
              type="text"
              name="modeloProducto"
              id="modeloProducto"
              value="<%= productToEdit.model %>"
            />
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="precioProducto">• Precio</label>
            <input
              type="number"
              name="precioProducto"
              min="0"
              id="precioProducto"
              value="<%= productToEdit.price %>"
              placeholder="$$$$"
            />
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="categoriaProducto">• Categoria</label>
            <select name="categoriaProducto" id="categoriaProducto">
              <option value="indumentaria" <% if (productToEdit.category == "indumentaria") { %> selected <%}%>>Indumentaria</option>
              <option value="calzado" <% if (productToEdit.category == "calzado") { %> selected <%}%>>Calzado</option>
              <option value="accesorios" <% if (productToEdit.category == "accesorios") { %> selected <%}%>>Accesorios</option>
            </select>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="generoProducto">• Género</label>
            <select name="generoProducto" id="generoProducto">
              <option value="masculino" <% if (productToEdit.genre == "masculino") { %> selected <%}%>>Masculino</option>
              <option value="femenino" <% if (productToEdit.genre == "femenino") { %> selected <%}%>>Femenino</option>
              <option value="unisex" <% if (productToEdit.genre == "unisex") { %> selected <%}%>>Unisex</option>
            </select>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="shortDescripcion">• Descripción Breve</label>
            <textarea
              name="shortDescripcion"
              id="shortDescripcion"
              cols="1"
              rows="2"
              maxlength="60"
            >
<%= productToEdit.shortDescription  %> 
            </textarea>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="longDescripcion">• Descripción Completa</label>
            <textarea
              name="longDescripcion"
              id="longDescripcion"
              cols="10"
              rows="10"
            >
<%= productToEdit.longDescription  %></textarea
            >
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="tallesProducto">• Talles</label>
            <select name="tallesProducto" id="tallesProducto">
              <option disabled selected>Seleccionar</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="Unico">Unico</option>
            </select>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="coloresProducto">• Colores</label>
            <input
              type="text"
              name="coloresProducto"
              id="coloresProducto"
              value="<%= productToEdit.color %>"
            />
          </div>

          <div class="contenedor-campos-newProduct">
            <button type="submit" class="boton-newProduct">CONTINUAR</button>
          </div>
          <!--    METODO DELETE   -->
        </form>
      </div>
    </main>

    <!-- Footer-->
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
